body {
margin: 0%;
background-color: green;
}

.grayBar {
    border:1px solid gray;
    width: 100vw;
    height: 200px;
}

h2 {
    color:white;
    background-color:gray;
}


.blackBar {
    color:solid black;
}

p {
    color: solid green;
}

p2 {
    color: solid orange;
}

.darkGray {
    color: solid darkgray;
}